@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

.bodyGallerie {
    background: linear-gradient(45deg, rgba(52,152,219,1) 0%, rgb(156, 176, 189) 48%, rgba(52,152,219,1) 100%); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Capriola', sans-serif;
    padding: 20px;
}

.bodyGallerieTitre {
    font-size: 2em;
    margin-bottom: 20px;
}

.gallerieFiltre {
    text-align: center;
    margin-bottom: 20px;
}

.gallerieFiltre h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.gallerieFiltre select {
    padding: 10px;
    font-size: 1em;
    border: 0;
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(4px);
    border-radius: 6px;
}

.gallerieContenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.carteListe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carteItem {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 1%;
}

.carte {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.carte :hover{
    cursor: pointer;
}

.recto, .verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #3498db;
    color: white;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
}

.recto {
    transform: rotateY(0deg);
}

.verso {
    transform: rotateY(180deg);
}

.carte.flipped .recto {
    transform: rotateY(180deg);
}

.carte.flipped .verso {
    transform: rotateY(360deg);
}

.carteTheme {
    font-family: "Jacques Francois Shadow", serif;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.questionListe, .reponseListe {
    color: black;
    background: white;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.questionItem, .reponseItem {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.questionNiveau, .reponseNiveau {
    font-size: 18px;
    font-weight: bold;
}

.questionTexte, .reponseTexte {
    font-size: 16px;
    margin-top: 5px;
}
