<div class="bodyGallerie">
    <p class="bodyGallerieTitre">Galerie de cartes</p>
    <div class="gallerieFiltre">
        <h2>Filtrer par catégorie</h2>
        <select [(ngModel)]="categorieSelectionne">
            <option value="">Toutes les catégories</option>
            <option *ngFor="let card of cards" [value]="card.nom">{{ card.nom }}</option>
        </select>
    </div>

    <div class="gallerieContenu">
        <ul class="carteListe">
            <li class="carteItem" *ngFor="let card of filteredCards()">
                <div class="carte" [ngClass]="{'flipped': isFlipped(card.nom, card.theme)}" (click)="flipCard(card.nom, card.theme)">
                    <div class="recto">
                        <h3 class="carteTheme">{{ card.theme }}</h3>
                        <ul class="questionListe">
                            <h4>Questions</h4>
                            <li class="questionItem" *ngFor="let question of card.questions">
                                <p class="questionNiveau">Niveau: {{ question.niveau }}</p>
                                <p class="questionTexte">{{ question.question }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="verso">
                        <h3 class="carteTheme">{{ card.theme }}</h3>
                        <ul class="reponseListe">
                            <h4>Réponses</h4>
                            <li class="reponseItem" *ngFor="let question of card.questions">
                                <p class="reponseNiveau">Niveau: {{ question.niveau }}</p>
                                <p class="reponseTexte">{{ question.reponse }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
