<p>creation-cartes works!</p>
<h1>teteteteteteteteteest</h1>

<h1>Ajouter dans le jijison</h1>


<h2>Créer une catégorie</h2>
<form (ngSubmit)="ajouterCategorie()">
  <input type="text" placeholder="Nom de la catégorie" [(ngModel)]="nouvelleCategorie.nom" name="nom" required />
  <button type="submit">Ajouter</button>
</form>


<br>


<form (ngSubmit)="ajouterCarteACategorie(categorieSelectionne)">
  <select [(ngModel)]="categorieSelectionne" name="categorieSelectionne">
    <option *ngFor="let categorie of cards" [ngValue]="categorie._id">{{categorie.nom}}</option>
  </select>
  <input type="text" placeholder="Ajouter thème" [(ngModel)]="nomNouvelleCarte.theme" name="theme" required />
  <ul>
    <li *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
      <input type="text" [placeholder]="'Question ' + (i + 1)" [(ngModel)]="nomNouvelleCarte.questions[i].question" name="theme" required />
      <input type="text" [placeholder]="'Reponse ' + (i + 1)" [(ngModel)]="nomNouvelleCarte.questions[i].reponse" name="theme" required />
    </li>    
  </ul>  
  <button type="submit">Ajouter</button>
</form>




<div *ngFor="let categorie of cards">
    <h2>{{ categorie.nom }}</h2>
    <button (click)="supprimerCategorie(categorie._id)">supprimer {{categorie.nom}}</button>

    <div *ngFor="let carte of categorie.cartes">
      <h3>{{ carte.theme }}</h3>
      
      <div *ngFor="let question of carte.questions">
        <p>Niveau {{ question.niveau }} : {{ question.question }}</p>
        <p>Réponse : {{ question.reponse }}</p>
      </div>
    </div>
</div>
