<p>creation-cartes works!</p>
<h1>teteteteteteteteteest</h1>

<h1>Ajouter dans le jijison</h1>


<h2>Créer une catégorie</h2>
<form (ngSubmit)="ajouterCategorie()">
  <input type="text" placeholder="Nom de la catégorie" [(ngModel)]="nouvelleCategorie.nom" name="nom" required />
  <button type="submit">Ajouter</button>
</form>


<br>


<form (ngSubmit)="ajouterCarteACategorie(categorieSelectionne)">
  <select>
    <option *ngFor="let categorie of cards" [value]="categorie.nom" [(ngModel)]="categorieSelectionne" >{{categorie.nom}}</option>
  </select>
  <input type="text" placeholder="Ajouter theme" [(ngModel)]="nomNouvelleCarte.theme" name="theme" required />
  <button type="submit">Ajouter {{nomNouvelleCarte.theme}}</button>
</form>


<div *ngFor="let categorie of cards">
    <h2>{{ categorie.nom }}</h2>
    <button (click)="supprimerCategorie(categorie._id)">supprimer {{categorie.nom}}</button>

    <div *ngFor="let carte of categorie.cartes">
      <h3>{{ carte.theme }}</h3>
      
      <div *ngFor="let question of carte.questions">
        <p>Niveau {{ question.niveau }} : {{ question.question }}</p>
        <p>Réponse : {{ question.reponse }}</p>
      </div>
    </div>
</div>
