<div class="main-container">
    <div class="logo">
        <img ngSrc="../../assets/logoPQ.png" alt="Logo PQ" height="600" width="816" priority="true"/>
    </div>

    <div class="cards">

        <div class="card">
            <h1>Jouer seul</h1>
            <img src="../../assets/manette.png" alt="manette">
            <p>Jouez en local avec vos amis sur le même ordinateur. Parfait pour des soirées jeux en famille ou entre amis.</p>
        </div>

        <div class="card">
            <h1>Créer une partie</h1>
            <img src="../../assets/wifi.png" alt="manette">
            <p>Créez une partie en ligne et invitez vos amis à vous rejoindre. Choisissez vos règles, personnalisez votre expérience, et profitez du jeu ensemble, où que vous soyez.</p>
        </div>

        <div class="card">
            <h1>Rejoindre une partie</h1>
            <img src="../../assets/join.png" alt="manette">
            <p>Entrez le code de la partie pour rejoindre vos amis en ligne et commencez à jouer. Rejoignez des parties en cours ou participez à des parties personnalisées.</p>
        </div>

    </div>
</div>

